
*{
    place-content: center center;
    align-items: center;
    text-align: center;
    
    
}
body{ 
    
    color:black;
}



    



.nav,.ul-nav{
    background-color: black;
    height: 70px;
    width: 100%;
    padding: 10px;
}
.li-nav{
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    list-style: none;
    color: white;
    cursor:pointer;
}
.li-nav:hover{
    border-bottom: solid 5px #7f42c4;
    background-color: rgba(250, 250,250, 0.2);
}
a{
    text-decoration: none;
    color:inherit;
}
.code-img{
    width:40px;
     height:40px;
     transition:1s;
     cursor:pointer;
}
.code-img:hover{
  -webkit-transform:rotateY(180deg) ;
  -webkit-transform-style:preserve-3d ;
  transform:rotateY(180 deg) ;
  transform-style: preserve-3d;
}

.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);    
}
button{
 background-color: white;
 color: blueviolet;    
 cursor: pointer;
 transition: 1s;
 }
button:hover{
    background-color: #7f42c4;
    color: white;
    border-radius: 20px;    
}


.new{
margin: 0 auto;
    
}
.new:hover{
    background: rgb(0,0,0,1);
    background: linear-gradient(24deg, rgba(0,0,0,1) 0%, rgba(187,106,231,1) 100%);
   
}

.foot-img{
    width:100px;
    height:100px;
    transition:1s;
    cursor:pointer;
}
.foot-img:hover{
    -webkit-transform:rotateY(180deg) ;
    -webkit-transform-style:preserve-3d ;
    transform:rotateY(180 deg) ;
    transform-style: preserve-3d;

}

.pie-pagina{
    width: 100%;
    background-color:black;
    place-content: center center;
    color: white;
    box-sizing: border-box;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 45px 0px;
}